<div class="modal fade" id="blankModal" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="image">
          <span class="ico icon-close modal-icon"></span>
        </div>
        <h2 class="modal-title mb-3"></h2>
        <h2 class="validation-error hidden"></h2>
        <p class="mb-5 "></p>
        <p class="mb-5 validation-error-desc text-information hidden"></p>
        <a class="btn btn-primary mt-1 blank-close clean-error" data-dismiss="modal" href="#">J'AI COMPRIS</a>
      </div>
    </div>
  </div>
</div>
