<div class="modal fade" id="sharePopup" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-share" role="document">
        <div class="modal-content">
            <a class="close-modal icon-close" data-dismiss="modal" aria-label="Close"></a>
            <div class="modal-header">
                <div class="h1 modal-title">Partager</div>
            </div>
            <div class="modal-body a2a_kit a2a_kit_size_32">
                <!-- http://www.sharelinkgenerator.com/ -->
                <ul>
                    <li>
                        <a href="#" class="a2a_button_facebook" data-dismiss="modal"><i class="icon-share-facebook fs14"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="#" class="a2a_button_google_plus" data-dismiss="modal"><i class="icon-share-google-plus fs12"></i> Google +</a>
                    </li>
                    <li>
                        <a href="#" class="a2a_button_twitter" data-dismiss="modal"><i class="icon-share-twitter fs12"></i> Twitter</a>
                    </li>
                    <li>
                        <a href="#" class="a2a_button_linkedin" data-dismiss="modal"><i class="icon-share-linkedin"></i> LinkedIn</a>
                    </li>
                    <li>
                        <a href="#" class="a2a_button_email" target="_blank"><i class="icon-share-email fs10"></i> Email</a>
                    </li>
                    <li>
                        <a href="#" class="copy-link-btn" data-clipboard-text=""><i class="icon-share-link copy-link"></i> Copier le lien</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
