$breakpoints: (
	'xs-phone': 320px,
	'phone': 375px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px,
	'xl-widescreen': 1440px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "vendors/bootstrap/functions";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import "bootstrap-custom";

@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';

@import 'vendors/icomoon';
@import 'vendors/webfont';
@import 'vendors/slick';
@import 'vendors/custom-form';
@import "vendors/showHidePassword";
@import "vendors/bootstrap-datepicker";

@import 'layout/header';
@import 'layout/common';
@import 'layout/footer';
@import 'layout/event-details';
@import 'layout/place-details';

@import 'layout/steps';
@import 'layout/slider';
@import 'layout/modal';
@import 'layout/configurator';
@import 'layout/account';
@import 'layout/search';
@import 'layout/custom';

body {
	min-width: $base-min-width;
}
