.config-place {
  table {
    background-color: white;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 13px 0 rgba(144,163,180,0.34);
    text-align: center;
    color:black;
    thead th {
      border-bottom: 1px solid #ccc;
      border-left: white;
      border-right: white;
      color:black;
      text-align: center;
    }
    tbody th {
      border: 1px solid #ccc;

    }

    th,td {
      padding: 0.75rem;
      background-color: white;
    }

    .body-row-td {
      text-align: center;
    }


  }
}
