<div class="modal fade" id="passwordResetRequested" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p class="main-information">{{ 'Plus d\'informations vous ont été envoyées par email'|t }}</p><br/>
        <button class="btn btn-primary mt-2" data-dismiss="modal" data-toggle="modal" data-target="reload">{{ 'J\'ai compris'|t }}</button>
      </div>
    </div>
  </div>
</div>
