<div class="modal fade" id="confirmCreate" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="image">
          <img src="{{ file_url(directory ~ '/images/illu_compte.svg') }}" />
        </div>
        <div class="modal-title h2 mb-2">Votre compte</div>
        <p class="mb-4">Votre inscription a bien été prise en compte.<br>Nous vous remercions.</p>
        <p class="information">Un mail d’activation de compte vous sera envoyé dans les plus brefs délais.</p>
        <button class="btn btn-primary mt-2" data-dismiss="modal">J'ai compris</button>
      </div>
    </div>
  </div>
</div>
